<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    package="br.com.makadu.makaduevento" >

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!--
 To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <application
        android:name=".MakaduApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/icon_white"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:screenOrientation="portrait"
            android:name=".UI.PrincipalActivity"
            android:icon="@drawable/icon_white"
            android:label="@string/app_name"
            android:logo="@drawable/icon_white" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".UI.DispatchActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".UI.LoginActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".UI.Tab_DetalheEvento_Programacao"
            android:label="@string/title_activity_tab__detalhe__evento" >
        </activity>
        <activity
            android:name=".UI.CreateAccountActivity"
            android:noHistory="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name=".UI.DetalheProgramacaoActivity"
            android:label="@string/title_activity_detalhe__programacao" >
        </activity>
        <activity
            android:name=".UI.ConfiguracoesActivity"
            android:label="@string/title_activity_configuracoes" >
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".UI.NotificationActivity"
            android:label="@string/title_activity_notification" >
        </activity>
    </application>

</manifest>
